.my-booking{
    width: 80%;
    height: 100vh;
    background-color: #e9ecf8;
}
.client-table{
    background-color: #fff;
    height: 65vh;
    border-radius: 5px;
    width: 1000px;
    margin: 120px 50px;
    padding: 25px;
}